.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  padding-bottom: 19.2rem;
  position: relative;
}

.home-content h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.8rem;
  color: #B37715;
  text-transform: uppercase;
  letter-spacing: .5rem;
  position: relative;
  padding-left: 80px;
  margin-left: -30px;
  margin-bottom: .6rem;
}

.home-content h3::before {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #862121;
  margin-top: -1.5px;
  position: absolute;
  left: 0;
  top: 50%;
}

.home-content h1 {
  font-family: "Barlow", serif;
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 1.35;
  margin-top: 0;
  text-align: left;
}

.home-content__main {
  padding-right: 300px;
  position: relative;
  background-color: #276FB3;
  max-height: 100v;
}

.home-content__buttons {
  position: absolute;
  right: 0;
  bottom: 2.1rem;
  text-align: center;
}

.home-content__buttons .btn {
  display: block;
  width: 210px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin: 1.5rem 0 0 0;
  letter-spacing: .25rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn:hover, 
.home-content__buttons .btn:focus {
  background: #FFFFFF !important;
  color: #000000;
}

.home-content__scroll {
  position: absolute;
  left: .6rem;
  bottom: -13.2rem;
}

.home-content__scroll a {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #B37715;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-right: 2rem;
}

.home-content__scroll a::after {
  border-bottom: 2px solid #922424;
  border-right: 2px solid #922424;
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  margin-top: -7px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.homeBox {
  background-color: rgba(0, 0, 0, 0.2);
  /* color: white; */
  display: flex;
  flex-direction: row;
  padding: 0rem 4rem;
  border-radius: 2rem;
  max-width: 75vw;
  justify-content: center;
}

.s-home {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
}

/* .s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
} */

/* .s-home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #111111;
} */

.no-js .s-home {
  background: #0D0A0B;
}