/* ===================================================================
  * # works - (_site-layout.scss)
  *
  * ------------------------------------------------------------------- */

.s-works {
  padding-top: 15rem;
  padding-bottom: 15.6rem;
  background-color: #f1f1f1;
  position: relative;
}

/* ------------------------------------------------------------------- 
 * ## bricks/masonry - (_site-layout.scss)
 * ------------------------------------------------------------------- */

@import "~react-image-gallery/styles/css/image-gallery.css";

.row button:hover {
  background-color: transparent !important;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1700px) {
  .masonry-wrap {
    width: 1400px;
  }
  .masonry .grid-sizer,
  .masonry__brick {
    width: 350px;
  }
}

@media only screen and (max-width: 1500px) {
  .masonry-wrap {
    width: 1200px;
  }
  .masonry .grid-sizer,
  .masonry__brick {
    width: 400px;
  }
}

@media only screen and (max-width: 1300px) {
  .masonry-wrap {
    width: 999px;
  }
  .masonry .grid-sizer,
  .masonry__brick {
    width: 333px;
  }
}

@media only screen and (max-width: 1099px) {
  .masonry-wrap {
    width: 90%;
    max-width: 800px;
  }
  .masonry .grid-sizer,
  .masonry__brick {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .masonry .grid-sizer,
  .masonry__brick {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .masonry-wrap {
    width: auto;
  }
}
